@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");
@import "tailwindcss";
@plugin "daisyui";


body {
  font-family: "Poppins", sans-serif;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}
.slick-slide > div {
  margin: 0 15px;
}

.slick-list {
  margin: 0 -15px;
}
